@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@
 
@{
    ViewData["Title"] = "Home Page";
}


@* <video width="2000" height="315" controls>
    <source src="~/Video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> *@


<img src="~/img1.jpg" alt="My Image" style="width: 1310px; height: 600px;">
<br />
<br />
<br />
<br />
<img src="~/img2.jpg" alt="My Image" style="width: 1310px; height: 600px;">

<div style={{ padding: '20px' }}>
    <h1></h1>

    <div id='para'>
        <br /><br />
        <br />
        <div style="padding: 20px; background-color: #f4f4f4; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">

            <p style="text-align: center; margin-bottom: 20px;"><strong><h3>What is Supply Chain Finance?</h3></strong></p>

            <p style="font-style: italic; color: #333; font-size: 18px;">
                Supply chain finance means advancing cash from sellers to buyers via financing institutions like banks. That way, buyers can finance their invoices through a financier, also known as a factor. Factors essentially lessen the burden of financing costs and improve efficiency for buyers and sellers.

                Supply chain finance consists of technology-based platforms that ease transactions, especially for buyers with better credit ratings. Thus, buyers can access capital to ward off their invoice burden, while sellers can lessen the gap of receiving payments from an intermediary financial body.
            </p>
        </div>
        <br /><br />
        <div style="padding: 20px; background-color: #f4f4f4; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">

            <p class="highlight"><strong><h3>How Does Supply Chain Financing Work?</h3></strong></p>

            <p style="font-style: italic; color: #333; font-size: 18px;">
                An event or trigger in the physical supply chain drives financial intervention. Intervention may include payments, financing, or risk mitigation for supplier’s invoices.
                <br></br>
                Imagine sending a purchase request for a mobile phone via the seller’s website. The supplier checks their inventory and takes more orders from the manufacturer. Instead of cash, you choose internet banking to pay. The financial body immediately tracks your order while the supplier prompts them to accept payment on their behalf.
                <br></br>
                While making the payment, you can opt for other payment methods like UPI or the seller’s financial partner. The supplier and financial institution agree to discount the invoice at a mutually agreed rate even if they are present as separate identities.
                <br></br>

            </p>
        </div> <br /><br />
        <div style="padding: 20px; background-color: #f4f4f4; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">

            <p class="highlight"><strong><h3>Supply Chain Finance Process Explained</h3></strong></p>

            <p style="font-style: italic; color: #333; font-size: 18px;">
                The process of supply chain financing functions in different ways depending on the supplier’s operational structure. Supply chain finance companies can discount receivables, purchase future payment obligations, or even factor up to 90% of the invoice value.
                <br></br><br></br>

                Steps involved in a supply chain finance process include:
            </p> <br /><br />
            <p style="font-style: italic; color: #333; font-size: 18px;">
                Step 1: Orders for goods and services are placed by the buyer from the supplier.
                <br></br>

                Step 2: The buyer receives an invoice for the purchase with its payment due within a certain time period (1 month, 3 months, 6 months, etc.)
                <br></br>

                Step 3: The supplier receives approval for the invoice payment from the buyer.
                <br></br>

                Step 4: The supplier requests payment on the invoice from the financier or financial institution in question.
                <br></br>

                Step 5: The financial institution (banks, for example) deducts a small fee and pays the balance amount to the supplier.
                <br></br>

                Step 6: The buyer pays off the financial institution on the invoice due date. <br />
                <br></br>

                Depending on the type of payments buyers have opted for, the supplier can create unique payment options. Thus, buyers can make purchases with payment options stretching to up to 5 years.
            </p><br /><br />
        </div> <br /><br />
        <div style="padding: 20px; background-color: #f4f4f4; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">

            <p class="highlight"><strong><h3>Supply Chain Finance Example</h3></strong></p>

            <p style="font-style: italic; color: #333; font-size: 18px;">
                As an important component of supply chain management, SCF assists both buyers and suppliers. Imagine a buyer placing orders for a pair of shoes from a supplier.
                <br></br>

                With the order placed, the supplier ships the product to the buyer and submits an invoice for its payment. They can leave the buyer to make the payment under a fixed term (say 30 days).
                <br></br><br></br>

                However, the buyer may opt for a longer payment term (say 60 days or more), or the seller may want its invoice to be cleared faster.
                <br></br>

                With financial supply chain management, a third-party financier may agree to pay for the invoice immediately. The financial intermediary pays for the invoice on behalf of the buyer and gives them a payment term.
                <br></br>

                This example shows that buyers and sellers can benefit from supply chain finance. With immediate payments, the supplier can use this as its working capital. The buyer can take their time to pay for the product without spoiling their relationship with the supplier.
            </p>
        </div>
        <br /> <br /><br />



        <div style="padding: 20px; background-color: #f4f4f4; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">
            <h1 style="color: blue; font-size: 24px; margin-bottom: 10px;">Our Mission</h1>
            <p style="font-style: italic; color: #333; font-size: 18px;">
                "Supply chains are present in every organization, even a corner store has a supply chain;
                they just might not know it yet. WhiteHall Finance is on a mission to help businesses
                optimize their supply chain operations and increase profitability."
            </p>
        </div>
</div>
</div>
